* {
  padding: 0;
  margin: 0;
}

body {
  background-color: gray;
}

table {
  border-collapse: collapse;
  text-align: center;
  font-size: xx-large;
  width: 100%;
}

button {
  cursor: pointer;
}

td {
  padding: 10px;
}

th {
  padding: 15px;
}

.pointbox-checkbox {
  padding: 0;
}

.checkbox-filled {
  width: 100%;
  position: relative;
}

.checkbox-filled:hover {
  cursor: pointer;
}

#objective-header {
  // border: 1px solid black;
}

$points-padding: 10vw;
#points-header {
  padding-left: $points-padding;
  padding-right: $points-padding;
}

thead {
  border-bottom: 1px solid black;
}

tfoot {
  border-top: 1px solid black;
}

td:first-child {
  text-align: left;
}

#pointsTotal {
  text-align: center;
}

#totalPointsText {
  text-align: right;
}

// *** background color section ***

.checkbox-filled.checked {
  background-color: #5fff7fbc;
}

.checkbox-filled.checked:hover {
  background-color: #5fff7f;
}

.checkbox-filled.unchecked {
  background-color: #90c6c0d1;
}

.checkbox-filled.unchecked:hover {
  background-color: #90c6c0;
}
